#ignore config files
*.conf
#ignore certificates
*.pem
*.cert
#ignore folders
__pycache__
replays
.kdev4
#ignore build folders
compile_commands.json
build
CMakeFiles
#ignore code formatter backups
*.orig
