<link rel="icon" 
      type="image/png" 
      href="favicon.png" />
<style>
.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
        "content content content content"
        "content content content content"
        "index index index index";
}

.index {
    grid-area: index; 
    color: white;
    font-family: verdana;
    padding: 32px;
}

.index-inner {
    padding: 10px;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

@Media (min-width: 500px) and (orientation: landscape) {
    .grid-container {
        min-height: 100vh;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;                
        gap: 0px 0px;
        grid-template-areas:
            "index content content ."
            "index content content ."
            "index content content .";
    }
}

.content {
    grid-area: content;
    background-color: rgb(30, 30, 30);
    color: white;
    font-family: verdana;
    padding: 32px;
}

.content-inner {
    margin-bottom: 32px;
    margin-left: 32px;
    margin-right: 32px;
    margin-top: 32px;
}

.bg {
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    background-color: rgb(10, 100, 100);
}

body {
    height: 100%;
}

blockquote {
    padding-left: 10px;
    background-color: rgb(35, 35, 35);
    color: rgb(240, 240, 240);
    font-family: mono;
}

a {
    color: rgb(221, 216, 0);
    font-family: mono;
}

h1, h2 {    
    color: rgb(200, 200, 0);
    font-family: sans;
}

h3, h4, h6 {
    color: white;
    font-family: sans;
}
</style>
